.move-me {position: relative;
          top:0px;
          right:100px;
}

.move-posts{position: relative;
            top:0px;
            right:100px;  
}


.btn-default {background-color: #000;
              color:#FFF;
              border-color: #000;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {

background-color: #000;
 
color:#FFF;
 
border-color: #000;
 
}

.party-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }