{% extends "layout.html" %}
{% block content %}


<!-- create your ticket-->
    <div class="tickets-info" style="margin-right:1em;">
      <div class="container-form"> 
          <form method="POST" action="" onsubmit="setFormSubmitting()">
               {{ticket_form.hidden_tag()}}
               <fieldset class="form-group">
                      <div class="form-group">
                          {{ticket_form.ticket_quantity.label(class="form-control-label")}}
                          {% if ticket_form.ticket_quantity.errors %}
                              {{ticket_form.ticket_quantity(class="form-control form-control-lg is-invalid")}}
                              <div class="invalid-feedback">
                                  {% for error in form.ticket_quantity.errors %}
                                      <span> {{error}}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                          {{ ticket_form.ticket_quantity(class="form-control") }} 
                          {% endif %}  
                      </div>
                      <div class="form-group">
                          {{ticket_form.ticket_type.label(class="form-control-label")}}
                          {% if ticket_form.ticket_type.errors %}
                              {{ticket_form.ticket_type(class="form-control form-control-lg is-invalid")}}
                              <div class="invalid-feedback">
                                  {% for error in ticket_form.ticket_type.errors %}
                                      <span> {{error}} </span>
                                  {% endfor %}
                              </div>
                          {% else %}
                          {{ ticket_form.ticket_type(class="form-control")}} 
                          {% endif %}  
                      </div>  
                      <div class="form-group">
                      {{ticket_form.price_ticket.label(class="form-control-label")}}
                      {% if ticket_form.price_ticket.errors %}
                          {{ticket_form.price_ticket(class="form-control form-control-lg is-invalid")}}
                          <div class="invalid-feedback">
                              {% for error in ticket_form.price_ticket.errors %}
                                  <span> {{error}} </span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ ticket_form.price_ticket(class="form-control")}} 
                      {% endif %}  
                      </div>  
                      <div class="form-group">
                          {{ticket_form.start_dh_tickets.label(class="form-control-label")}}
                          {% if ticket_form.start_dh_tickets.errors %}
                          {{ticket_form.start_dh_tickets(class="form-control form-control-lg is-invalid")}}
                          <div class="invalid-feedback">
                              {% for error in ticket_form.start_dh_tickets.errors %}
                                  <span> {{error}} </span>
                              {% endfor %}
                          </div>
                          {% else %}
                          {{ ticket_form.start_dh_tickets(class="form-control")}} 
                          {% endif %}  
                      </div> 
                      <div class="form-group">
                      {{ticket_form.finish_dh_tickets.label(class="form-control-label")}}
                      {% if ticket_form.finish_dh_tickets.errors %}
                          {{ticket_form.finish_dh_tickets(class="form-control form-control-lg is-invalid")}}
                          <div class="invalid-feedback">
                          {% for error in ticket_form.finish_dh_tickets.errors %}
                              <span> {{error}} </span>
                          {% endfor %}
                          </div>
                      {% else %}
                          {{ ticket_form.finish_dh_tickets(class="form-control")}} 
                      {% endif %}  
                      </div>  
                      <div class="form-group">
                          {{ticket_form.submit_ticket(class="btn btn-primary")}}  
                      </div>
              </fieldset>
          </form> 
        </div>
        <div class="content-section-table" style="max-width:45em;margin-left:1em;">
           <table style="width:100%">
             <tr>
               <th>Type </th>
               <th> Price </th>
               <th> Stock </th>
               <th> From </th>
               <th> Until </th> 
             </tr> 
             {% for ticket in tick %}
             <tr>
                {% if ticket.post_id==post_id %} 
                <td>{{ ticket.ticket_type }}</td>
                <td>{{ ticket.price_ticket }}</td>
                <td>{{ ticket.ticket_quantity }}</td>
                <td>{{ ticket.start_dh_tickets }}</td>
                <td>{{ ticket.finish_dh_tickets }}</td>
                {% endif %}
             </tr>   
             {% endfor %}  
            </table>
        </div>
        <div class="col-btn col-xs-12 col-sm-12" style="margin-left:1em;">
            <a id="btnContinue" class="btn btn-primary btn-vr ripple-slow" data-color="#FFBF75" href="{{ url_for('post_event') }}"> Post Event</a>
        </div>
    </div>    


<script type="text/javascript">
   var formSubmitting = false;
   var btnClicks = document.getElementsById('btnContinue');
   var setFormSubmitting = function() { formSubmitting = true; };

   window.onload = function() {
   window.addEventListener("beforeunload", function (e) {
        if (formSubmitting) {
            return True;
        }

        var confirmationMessage = 'It looks like you have been editing something. '
                                + 'If you leave before saving, your changes will be lost.';

        (e || window.event).returnValue = confirmationMessage; //Gecko + IE
        return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
    });
};
</script>

{% endblock content %}

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>