{% extends "layout.html" %}
{% block content %}

<!-- get flash messages-->
<div class=row>
    <div class="col-md-8">
       {% with messages= get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                     <span>{{message}}</span>
                </div>
            {% endfor %}
          {% endif %}
       {% endwith %}
    </div>
</div>
<!-- create your ticket-->
<div class="content-section" style="position:relative; top:23px;"> 
    <form method="POST" action="#">
       <p><label for="fname">Name of the tickets yo want to update:</label></p>
       <p><input type="text" name="nm"/></p>
       <p><input class="btn btn-primary" type="submit" value="Update"/></p>
    </form>     
</div>
{% endblock content %}