{% extends "layout.html" %}
{% block content %}

<!-- linking the css sheet-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css')}}">


<!-- display of the post-->

<!-- tickets & info -->
<div class="tickets-info" style="margin-right:1em;">
     <!-- image -->
     <article style="margin-bottom:2em;">
        <img src="{{ url_for('static', filename ='event_pics/' + post.image_file) }}" width="500" height="700">
     </article>
     <article class="media content-section">
         <div class="media-body">
             <div class="article-metadata">
                 <a class="mr-2" href="{{ url_for('post_event', username=post.author.username) }}">{{ post.author.username }}</a>
             </div>
             <h2 class="article-title">{{ post.title }}</h2>
             <small class="text-muted"> party day {{ post.start_dh.strftime("%Y-%m-%d")  }}</small>
             <p class="article-content"> {{ post.content }}</p>
         </div>
     </article>
      <!-- buttons for updating the event -->
     {% if post.author==current_user %}
       <div>
           <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post',post_id=post.id)}}">Update info</a>
       </div>
       <div class="media content-section-table">
         <table style="width:100%">
           <tr>
             <th>Type </th>
             <th> Price </th>
             <th> Stock </th>
             <th> From </th>
             <th> Until </th> 
           </tr> 
           {% for info in post.ticket %}
           <tr>
              <td>{{ info.ticket_type }}</td>
              <td>{{ info.price_ticket }}</td>
              <td>{{ info.ticket_quantity }}</td>
              <td>{{ info.start_dh_tickets }}</td>
              <td>{{ info.finish_dh_tickets }}</td>
           </tr>   
           {% endfor %}  
          </table>
       </div>
       <div>
         <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('name_update',post_id=post.id)}}">Update Tickets</a>
       </div>
       <div >
       <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button> 
       </div>
     {% endif %}
     
     <!-- display of the tickets of the event-->
     {% if post.author!=current_user %} 
      <div class="table-tickets col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-top-20-xs margin-top-0-md">
          <form method="POST" action="">
            <fieldset class="for_group">
              <div>  
                {% for info in post.ticket %}
                   {% if info.start_dh_tickets<=today<= info.finish_dh_tickets %}
                           <div>
                              <h4 class="kill-top-margin kill-bottom-margin price"> ${{ info.price_ticket }} </h4>
                           </div>
                           <div class="buy-container exteded-buy-container text-center">
                             <div class="row">
                                  <div class="col-lbl col-xs-5 col-sm-5 text-left">
                                       <div class="col-btn col-xs-12 col-sm-12" >
                                           <a id="btnContinue" class="btn btn-primary btn-vr ripple-slow" data-color="#FFBF75" href="{{ url_for('customer', post_id=post.id) }}"> Buy </a>
                                       </div>
                                  </div>   
                             </div>
                           </div>   
                   {% endif %}
                {% endfor %}
              </div>    
            </fieldset> 
          </form>
      </div>
     {% endif %}
 </div>      
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
          <form action="{{ url_for('delete_post',post_id=post.id)}}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
</div>



{% endblock content %}